<%- include("functions") %>
<%- include("partials/header") %>

<h1>Homepage</h1>




<% for(let post of posts){ %>

    <h2><%= post.title%></h2>
    <p><%= truncate(post.content, 100) %>
    <a href="/posts/<%=post.title%>">Read More</a>
    </p>

    <% } %>

<%- include("partials/footer") %>


